{% extends "base.html" %}

{% block title %}SlideGen - Generate Personalized Slides{% endblock %}

{% block content %}
    <!-- Hero Section -->
    {% include 'components/hero.html' %}

    <!-- Main Form Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 items-start">
        <!-- Left Column: Upload Section -->
        <div class="lg:col-span-5 flex flex-col gap-6">
            {% include 'components/upload_section.html' %}
        </div>

        <!-- Right Column: Recipient Section -->
        <div class="lg:col-span-7 flex flex-col gap-6">
            {% include 'components/recipient_section.html' %}
        </div>
    </div>

    <!-- Process Button -->
    <div class="mt-8">
        {% include 'components/process_button.html' %}
    </div>

    <!-- Footer Sections -->
    {% include 'components/footer_sections.html' %}
{% endblock %}
